@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

body {
  margin: 0;
  padding: 0;
}

/* //========== CORE 22C-2 .  ==========// */
.home-header {
  /* //========== CORE 23E BACKGROUND COLOR  && 25F DISPLAY && 27C JUSTIFY CONTENT && 27D ALIGN ITEMS==========// */
  background-color: #AB2A19;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
}

/* ========== CORE 24C MARGIN && 27F FLEX DIRECTION && 27G FLEX========== */
.shelf-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  margin-top: 20px;
}

.shelf {
  background-color: #D34735;
  color: white;
  margin-bottom: 20px;
}

/* ----- SHELF PAGE ----- */

.bin-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.bin-logo-container {
  background-color: #ab2a19;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bin-logo-container.bin-menu {
  width: 10%;
}

.shelf-label {
  background-color: #D34735;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.add-bin {
  color: black;
  background-color: #ffb8af;
}

/* ----- BIN HEADER -----*/
.bin-detail-header {
  background-color: #ed6b5a;
  height: 100%;
  width: 70%;
  padding-left: 20px;
  min-width: 514px;
  display: flex;
  align-items: center;
}

.shelf-label.bin-menu {
  width: 20%;
}

.full-bin {
  background-color: #ed6b5a;
  color: white;
}

/* ----- BINS ----- */


/* //========== CORE 22C-1 #  ==========// */
#bin-container { 
  padding: 25px;
  margin-left: 8%;
  display: flex;
}



.left-container {
  max-width: 200px;
  max-height: 200px;
  display: block;
  padding-right: 25px;
}

.right-container {
  display: block;
}

.detail-button {
  width: 200px;
  background-color: #d8d8d8;
  height: 61px;
  font-size: 30px;
}

.edit-delete-buttons {
  display: flex;
  justify-content: space-between;
  width: 524px;
}

.save-button {
  width: 200px;
  background-color: #40f99b;
  color: black;
  height: 61px;
  font-size: 30px;
}

.save-button.add {
  width: 524px;
}

input, h3{
  /* //========== CORE 24D BORDER  ==========// */
  border: 1px solid #ab2a19;
  border-radius: 3px;
  /* //========== CORE 24E PADDING ==========// */
  padding: 12px;
  width: 500px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 3px;
}

button {
  border-radius: 3px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

.shelf-history {
  cursor: pointer;
}

#add-inventory-container {
  width: 550px;
  margin: 0 auto;
  padding: 25px;
}

/* ========== CORE 23D FONT WEIGHT, COLOR SIZE  ========== */
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  padding-left: 20px;
  font-size: 30px;
  color: white;
}

.main-button {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}